@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    background-image:url('/src/assets/sol.gif');
    background-size: 100%;
    background-size: 60%;
    background-position: center;    
    background-repeat:no-repeat;
    background-attachment: fixed;
} */